[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-restful = "*"
flask-jwt-extended = "*"
email-validator = "*"
bcrypt = "*"
python-dateutil = "*"
faker = "*"
pytz = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
