[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-jwt-extended = "*"
bcrypt = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-migrate = "*"
email-validator = "*"
faker = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
